include *.txt
include *.md
include *.cfg
include *.pkl
recursive-include ./recommendation_model/*

include recommendation_model/datasets/movies_metadata.csv
include recommendation_model/training_dir/*.pkl
include recommendation_model/version

include ./requirements.txt
exclude *.log

recursive-exclude * __pycache__
recursive-exclude * *.py[co]